.titulo__alineacion {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

th,
td {
    border: 0.2rem solid black;
    font-size: 1rem;
    color: antiquewhite;
}

table {
    margin: 2rem;
}

.navbar__alineacion {
    color: white;

}

.link-barra-alineacion {

    text-decoration: none;
    color: white;

}

.barra-alineacion {
    color: azure;
    background-color: black;
    gap: 1 rem;
    border-radius: 10px;
    font-size: 2rem;
    border: 2px solid black;
    list-style: none;
    content: 20px;

}

.contenedor-barra-alineacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 15px;
    gap: 1rem;

}

@media (min-width:768px) {
    .contenedor-barra-alineacion {

        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        border: 15px;
        gap: 1rem;
    }

    th,
    td {
        font-size: 2rem;
    }


}

